ul {
  list-style: none; 
}
.container {
 
}
div.section {
  border: 1px solid rgb(66,182,201);
  width: 425px;
  height: 30px;
  background: rgb(66,182,201);
}

a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  padding-left: 15px;
  display:block;
}

div.content {
  width: 425px;
  height: 125px;
  border: 1px solid rgb(66,182,201); 
  display:none;
}

.content p {
  padding-left: 15px;
}
 



















/*#accordion 

center on page
width padding
magin \list style



#accordion li
add padding for par spacing on bottom

#accordion li a


#accoridion li p
add padding


.section
display none

*/

/*
    .content {
      clear:left;
      margin-top:200px;
    }
    #nav {
      list-style:none;
    }
    #nav li {
      float:left;
      width:100px;
    }
    #nav li ul {
      padding:0;
      list-style:none;
      display:none;
    }
    #nav li ul li{
      float:none; 

   div.section {
    width: 250px;
    height:150px;
    border: 1px solid black;

   }  */
/*
   button.accordion {
    width: 200px;
    text-align: left;
    background-color: blue;

   }
   div.content {
    width: 200px;
    height: 150px;
    border: 1px solid blue;
    display: block;
   }

*/












